.list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;

  width: 80%;
  margin: 0 auto;
}
.item{
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-size: 20px;

  & a {
    text-decoration: none;
    color: black;
    &:hover {
      text-decoration: underline;
      color: red;
    }
  }
}