.title{
  color:green;
}
:root{
  --font-xxl: 3rem;
}
.iconUser{
  width: 25px;
  height: 25px;
  color: gold;
}
.card{
  box-shadow: 2px 2px 6px 6px lightgray;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap:5px;
  @media  (min-width: 768px){
  font-size: 0.8rem;
  }
  & button{
    background-color: teal;
    &:hover{
      background-color: white;
      color:var(--orange);
      cursor: pointer;
    }
   
  }
}

.status{
  font-weight: bold;
}
.red{
  color:red;
}
.green{
  color:green;
}